<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
</head>
<body>
<footer th:fragment="footer">
    <!--地址及备案申明-->
    <div class="foot container-fluid text-center">
        <p class="quanxian"><span class="text-white ">Copyright © 2018 Adobe 11she326.cn All Rights Reserved.射洪吴彦祖 版权所有,保留一切权利</span>
        </p>
        <p class="beian"><span class="text-white">蜀ICP备18027826号</span></p>
    </div>
    <script src="../../static/js/jquery-3.3.1.js" th:src="@{js/jquery-3.3.1.js}" type="text/javascript"></script>
    <script src="../../static/js/bootstrap.js" th:src="@{js/bootstrap.js}" type="text/javascript"></script>
    <script src="../../static/js/holder.js" th:src="@{js/holder.js}" type="text/javascript"></script>
    <script src="../../static/js/conmen.js" th:src="@{js/conmen.js}" type="text/javascript"></script>
</footer>
</body>
</html>