<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragment/header::header(~{::title},~{::link},~{})}">
    <title>博客展示</title>
    <link rel="stylesheet" href="../static/css/page/index.css" th:href="@{css/page/index.css}">
</head>
<body>
<!--主体-->
    <div class="content container">
        <!--顶部轮播效果占位-->
        <div class="mainImg row">
            <div id="demo" class="carousel slide col-md-12" data-ride="carousel">

                <!-- 指示符 -->
                <ul class="carousel-indicators">
                    <li data-target="#demo" data-slide-to="0" class="active"></li>
                    <li data-target="#demo" data-slide-to="1"></li>
                    <li data-target="#demo" data-slide-to="2"></li>
                </ul>

                <!-- 轮播图片 -->
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://static.runoob.com/images/mix/img_fjords_wide.jpg">
                        <div class="carousel-caption">
                            <h3>第一张图片描述标题</h3>
                            <p>描述文字!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://static.runoob.com/images/mix/img_nature_wide.jpg">
                        <div class="carousel-caption">
                            <h3>第一张图片描述标题</h3>
                            <p>描述文字!</p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <img src="https://static.runoob.com/images/mix/img_mountains_wide.jpg">
                        <div class="carousel-caption">
                            <h3>第一张图片描述标题</h3>
                            <p>描述文字!</p>
                        </div>
                    </div>
                </div>

                <!-- 左右切换按钮 -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </a>

            </div>
        </div>
        <!--博客摘要和词条-->
        <div class="main row">
            <!--主体博客部分-->
            <div class="col-md-8">
                <!--左侧博客简要信息展示(图文)-->
                <div class="row blogBrief">
                    <div class="col-md-3 blog-img"><img src="holder.js/100px100p"`></div>
                    <div class="col-md-9">
                        <a class="h2 " href="#">
                            标题
                        </a>
                        <p>
                            本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
                        </p>
                        <p class="blogicon">
                            <i class="iconfont icon-addressbook_fill"></i>&nbsp;&nbsp;<span>赵宇</span>&nbsp;&nbsp;
                            <i class="iconfont icon-createtask"></i>&nbsp;<span>Java</span>&nbsp;&nbsp;
                            <i class="iconfont icon-clock_fill"></i>&nbsp;<span>2018-10-19</span>&nbsp;&nbsp;
                            <i class="iconfont icon-browse_fill"></i>&nbsp;<span>480</span>&nbsp;&nbsp;
                            <i class="iconfont icon-like_fill"></i>&nbsp;<span>198</span>

                        </p>
                    </div>
                </div>
                <div class="row blogBrief">
                    <div class="col-md-3 blog-img"><img src="holder.js/100px100p"`></div>
                    <div class="col-md-9">
                        <a class="h2 " href="#">
                            标题
                        </a>
                        <p>
                            本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
                        </p>
                        <p class="blogicon">
                            <i class="iconfont icon-addressbook_fill"></i>&nbsp;&nbsp;<span>赵宇</span>&nbsp;&nbsp;
                            <i class="iconfont icon-createtask"></i>&nbsp;<span>Java</span>&nbsp;&nbsp;
                            <i class="iconfont icon-clock_fill"></i>&nbsp;<span>2018-10-19</span>&nbsp;&nbsp;
                            <i class="iconfont icon-browse_fill"></i>&nbsp;<span>480</span>&nbsp;&nbsp;
                            <i class="iconfont icon-like_fill"></i>&nbsp;<span>198</span>

                        </p>
                    </div>
                </div>
                <div class="row blogBrief">
                    <div class="col-md-3 blog-img"><img src="holder.js/100px100p"`></div>
                    <div class="col-md-9">
                        <a class="h2 " href="#">
                            标题
                        </a>
                        <p>
                            本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
                        </p>
                        <p class="blogicon">
                            <i class="iconfont icon-addressbook_fill"></i>&nbsp;&nbsp;<span>赵宇</span>&nbsp;&nbsp;
                            <i class="iconfont icon-createtask"></i>&nbsp;<span>Java</span>&nbsp;&nbsp;
                            <i class="iconfont icon-clock_fill"></i>&nbsp;<span>2018-10-19</span>&nbsp;&nbsp;
                            <i class="iconfont icon-browse_fill"></i>&nbsp;<span>480</span>&nbsp;&nbsp;
                            <i class="iconfont icon-like_fill"></i>&nbsp;<span>198</span>

                        </p>
                    </div>
                </div>
                <div class="row blogBrief">
                    <div class="col-md-3 blog-img"><img src="holder.js/100px100p"`></div>
                    <div class="col-md-9">
                        <a class="h2 " href="#">
                            标题
                        </a>
                        <p>
                            本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
                        </p>
                        <p class="blogicon">
                            <i class="iconfont icon-addressbook_fill"></i>&nbsp;&nbsp;<span>赵宇</span>&nbsp;&nbsp;
                            <i class="iconfont icon-createtask"></i>&nbsp;<span>Java</span>&nbsp;&nbsp;
                            <i class="iconfont icon-clock_fill"></i>&nbsp;<span>2018-10-19</span>&nbsp;&nbsp;
                            <i class="iconfont icon-browse_fill"></i>&nbsp;<span>480</span>&nbsp;&nbsp;
                            <i class="iconfont icon-like_fill"></i>&nbsp;<span>198</span>

                        </p>
                    </div>
                </div>
                <div class="row blogBrief">
                    <div class="col-md-3 blog-img"><img src="holder.js/100px100p"`></div>
                    <div class="col-md-9">
                        <a class="h2 " href="#">
                            标题
                        </a>
                        <p>
                            本可视化布局程序在HTML5浏览器上运行更加完美, 能实现自动本地化保存, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作, 即使关闭了网页, 下一次打开仍然能恢复上一次的操作.即使关闭了网页, 下一次打开仍然能恢复上一次的操作.
                        </p>
                        <p class="blogicon">
                            <i class="iconfont icon-addressbook_fill"></i>&nbsp;&nbsp;<span>赵宇</span>&nbsp;&nbsp;
                            <i class="iconfont icon-createtask"></i>&nbsp;<span>Java</span>&nbsp;&nbsp;
                            <i class="iconfont icon-clock_fill"></i>&nbsp;<span>2018-10-19</span>&nbsp;&nbsp;
                            <i class="iconfont icon-browse_fill"></i>&nbsp;<span>480</span>&nbsp;&nbsp;
                            <i class="iconfont icon-like_fill"></i>&nbsp;<span>198</span>

                        </p>
                    </div>
                </div>
                <!--底部分页-->
                <div class="row">
                    <div class="forpage">
                        <ul class="pagination ">
                            <li class="page-item disabled"><a class="page-link" href="#">上一页</a></li>
                            <li class="page-item "><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">下一页</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <!--右部词条部分-->
            <div class="col-md-4 rank">
                <!--热门标签-->
                <div class="row bg-white">
                    <div class="hottag col-md-12">
                        <div class="hottagName">
                            <i class="iconfont icon-biaoqian"></i><span>热门标签</span>
                        </div>
                        <span class="badge badge-success"><a href="#" class="text-white">java</a></span>
                        <span class="badge badge-danger"><a href="#" class="text-white">危险标签</a></span>
                        <span class="badge badge-success"><a href="#" class="text-white">html</a></span>
                        <span class="badge badge-danger"><a href="#" class="text-white">css3</a></span>
                        <span class="badge badge-success"><a href="#" class="text-white">java</a></span>
                        <span class="badge badge-danger"><a href="#" class="text-white">危险标签</a></span>
                        <span class="badge badge-success"><a href="#" class="text-white">html</a></span>
                        <span class="badge badge-danger"><a href="#" class="text-white">css3</a></span>
                    </div>

                </div>

                <!--最热博客(最新)-->
                <div class="row bg-white">
                    <div class="hotblog col-md-12">
                        <table class="table table-hover">
                            <tr>
                                <td>java</td>
                                <td>181篇</td>
                                <td class="float-right">
                                    <i class="iconfont icon-zuixin"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>css</td>
                                <td>181篇</td>
                                <td class="float-right">
                                    <i class="iconfont icon-zuire"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>script</td>
                                <td>181篇</td>
                                <td class="float-right">
                                    <i class="iconfont icon-zuixin"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>java</td>
                                <td>181篇</td>
                                <td class="float-right">
                                    <i class="iconfont icon-zuire"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>css</td>
                                <td>181篇</td>
                                <td class="float-right">
                                    <i class="iconfont icon-zuire"></i>
                                </td>
                            </tr>
                            <tr>
                                <td>css</td>
                                <td>181篇</td>
                                <td class="float-right">
                                    <i class="iconfont icon-zuire"></i>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!--热门博主-->
                <div class="row bg-white">
                    <div class="hotblogger col-md-12">
                        <div class="hottagName"><i class="iconfont icon-wodedamaijihuo"></i>&nbsp;&nbsp;<span>热门博主</span></div>
                        <img src="holder.js/60x60" class="rounded-circle">
                        <img src="holder.js/60x60" class="rounded-circle">
                        <img src="holder.js/60x60" class="rounded-circle">
                        <img src="holder.js/60x60" class="rounded-circle">
                        <img src="holder.js/60x60" class="rounded-circle">
                        <img src="holder.js/60x60" class="rounded-circle">
                        <img src="holder.js/60x60" class="rounded-circle">
                        <img src="holder.js/60x60" class="rounded-circle">
                        <img src="holder.js/60x60" class="rounded-circle">
                        <img src="holder.js/60x60" class="rounded-circle">
<div></div>
                    </div>
                </div>
                <!--二维码-->
                <div class="row qr bg-white">
                        <img src="image/timg.jpg" alt="" width="80%" height="80%">
                </div>
            </div>
        </div>
    </div>


<div th:replace="~{fragment/footer::footer}">
</div>
</body>
</html>